cffi==1.17.1
cloudpickle==3.1.1
contourpy==1.3.0
cycler==0.12.1
Farama-Notifications==0.0.4
filelock==3.19.1
fonttools==4.60.1
glcontext==3.0.0
glfw==1.12.0
gym-notices==0.1.0
gym3==0.3.3
gym_traffic==0.0.1
gymnasium==1.1.1
highway-env==1.10.1
imageio==2.37.0
imageio-ffmpeg==0.3.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
kiwisolver==1.4.7
matplotlib==3.9.4
moderngl==5.12.0
numpy==1.26.4
packaging==25.0
pandas==2.3.3
pettingzoo==1.25.0
pillow==11.3.0
pycparser==2.23
pygame==2.6.1
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
scipy==1.13.1
six==1.17.0
traci==1.24.0
typing_extensions==4.15.0
tzdata==2025.2
zipp==3.23.0
